.mainDiv {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 1rem 4rem 1rem 4rem;
  width: 100%;
  z-index: 9999;
  background: rgb(255 255 255 / 70%);
  backdrop-filter: blur(5px);
  backface-visibility: hidden;
  transform: translateZ(0px);
}

.logo {
  cursor: pointer;
}

.contentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navContent {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  text-decoration: none;
  list-style-type: none;
}

.toggleBtn {
  display: none;
}

.navLink:hover {
  color: #7155a4;
  transition: 0.3s;
}

.btn {
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  background-color: #7155a4;
}

.btn:hover {
  background-color: #0F1131;
  transition: 0.3s;
}



@media only screen and (max-width: 1024px) {
  .mainDiv {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .toggleBtn {
    display: block;
    background: none;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .navContent {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 80%;
  }
}
